.list-group-item {
    cursor: pointer;
}

.white {
    color: azure;
}

.inline {
    display: inline;
}

.rsicon {
    margin-left: 10px;
    margin-right: 10px;
}

.table {
    max-width: 80vw !important;
    overflow-x: scroll;
}