.App {
  background: #136a8a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #267871, #136a8a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

.btns {
  padding-top: 100px;
  vertical-align: middle;
  align-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 50vw !important;
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
  border-radius: 10px !important;
  background: #343a40!important
}

.white {
  color: azure;
}

.b1 {
  margin-top: 20px !important;
}

.loginbtn {
  padding-top: 40px;
}